html,
body {
	height: 100%;
	margin: 0 auto;
	font-size: 18px;
	font-family: sans-serif;
	line-height: 1.8em;
	text-align: center;
	color: black;
}

h1 {
	margin-bottom: 0;
}

/* putting the parallax properties on the images */
.parallax-img1,
.parallax-img2,
.parallax-img3 {
	position: relative;
	display: flex;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* parallax images */
.parallax-img1 {
	background-image: url(/assets/images/skyline-1402050_1920.jpg);
	background-color: rgba(204, 236, 250, 0.582);
	background-blend-mode: overlay;
	min-height: 100%;
	min-width: 100%;
}
.parallax-img2 {
	background-image: url(/assets/images/moab-road.jpg);
	background-color: rgba(251, 215, 196, 0.477);
	background-blend-mode: overlay;
	min-height: 85%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.parallax-img3 {
	background-image: url(/assets/images/greenland-aurora.jpg);
	min-height: 70%;
	justify-content: center;
	align-items: center;
}

/* first parallax container */
.img1-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 5s;
	color: #ffffff;
	text-shadow: 1.5px 1.5px rgb(83, 83, 83);
}

/* headshot img */
#head-shot {
	display: block;
	border-radius: 100%;
	max-width: 65%;
	box-shadow: 0.8px 0.8px 0px 0px rgba(195, 195, 195, 0.628);
}

.web-dev {
	display: flex;
	font-size: 72px;
	text-transform: uppercase;
}

.john-sass {
	display: flex;
	font-size: 50px;
	margin-top: 20px;
	text-transform: uppercase;
}

/* second parallax img container */
.projectFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#project-title {
	text-shadow: 1.5px 1.5px rgb(234, 233, 233);
}

/* adding margin to all the project links in the second parallax */
.projectFlex a {
	margin: 35px;
}

.portfolio-img {
	height: 250px;
	width: 250px;
	opacity: 0.9;
	display: flex;
}

/* third parallax container */
.tech-container {
	display: flex;
	flex-wrap: wrap;
	color: white;
	margin: 0 auto;
}

.tech-intro {
	color: white;
	font-size: 80px;
}

.row-1 .image-circle {
	display: flex;
	background-color: rgba(255, 255, 255, 0.19);
	border-radius: 50%;
	justify-content: space-around;
	margin: 15px;
}

.row-2 .image-circle {
	display: flex;
	background-color: rgba(0, 0, 0, 0.505);
	border-radius: 50%;
	justify-content: space-around;
	margin: 15px;
}

/* email container */
.contactContainer {
	margin-bottom: 80px;
}

.contactContainer input,
textarea {
	text-align: center;
}

/* sections between the parallax images */
.section {
	padding: 60px 0;
}

/* FOOTER */
.footer {
	justify-content: center;
}

/* media query for mobile */
@media only screen and (max-width: 767px) {
	.web-dev {
		display: flex;
		font-size: 40px;
		text-transform: uppercase;
	}

	.john-sass {
		display: flex;
		font-size: 30px;
		margin-top: 20px;
		text-transform: uppercase;
	}
}
