html,
body {
	height: 100%;
	margin: 0 auto;
	font-size: 18px;
	font-family: sans-serif;
	line-height: 1.8em;
	text-align: center;
	color: black;
	min-height: 100%;
	overflow-x: hidden;
}

html {
	/* applying a linear color background to html */
	background-image: linear-gradient(rgba(255, 255, 255, 0.82),
			rgba(0, 0, 0, 0.608));
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

h1 {
	margin-bottom: 0;
}

/* putting the parallax properties on the images */
.parallax-img1,
.parallax-img2,
.parallax-img3 {
	position: relative;
	display: flex;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* parallax images */
.parallax-img1 {
	background-image: url(../images/skyline-1402050_1920-min.jpg);
	/* used the blend-mode to add opacity to parallax images */
	background-color: rgba(204, 236, 250, 0.582);
	background-blend-mode: overlay;
	min-height: 100%;
	min-width: 100%;
}

.parallax-img2 {
	background-image: url(../images/moab-road-min.jpg);
	background-color: rgba(251, 215, 196, 0.477);
	background-blend-mode: overlay;
	min-height: 85%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.parallax-img3 {
	background-image: url(../images/greenland-aurora-min.jpg);
	min-height: 85%;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

/* FIRST PARALLAX CONTAINER */
.img1-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 3s;
	top: 100px;
	color: #ffffff;
	text-shadow: 1.5px 1.5px rgb(83, 83, 83);
}

/* headshot img */
#head-shot {
	display: block;
	border-radius: 100%;
	max-width: 50%;
}

/* intro text */
.web-dev {
	font-size: 60px;
	text-transform: uppercase;
}



.arrows {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	/* display: block; */
}

.first-row,
.second-row {
	position: absolute;
	top: 0;
	bottom: 5;
	left: 0;
	right: 0;
}

.text-div {
	background-color: rgba(32, 32, 32, 0.649);
	height: 250px;
	padding-top: 35px;
}

/* intro name text */
.john-sass {
	width: 100vw;
	position: relative;
	font-size: 65px;
	margin-top: 20px;
	text-transform: uppercase;
	color: rgb(201, 179, 36);
}

/* SECOND PARALLAX CONTAINER */
.projectFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* 2nd parallax intro text */
.para2-text {
	font-size: 100px;
	line-height: 2em;
}

.projectFlex {
	margin-bottom: 35px;
}

.project-link {
	margin-bottom: 50px;
}

.image-box :hover {
	opacity: 1;
}

/* handling the portfolio image */
.portfolio-img {
	height: 300px;
	width: 450px;
	opacity: 0.9;
	display: flex;
	box-shadow: 10px 10px 20px rgba(70, 103, 119, 0.872);
}

button {
	border: none;
	box-shadow: 0 0 1px rgba(22, 22, 22, 0.872);
}

/* icon buttons color */

/* .navbar-brand a {
	color: rgba(245, 222, 179, 0.71);
} */

.fa,
.btn-social-icon .fas {
	color: white;
}

/* THIRD PARALLAX CONTAINER */
.tech-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	color: white;
	justify-content: space-around;
}

.tech-container a {
	margin: 0 80px 0 80px;
}

/* 3rd parallax intro text */
.tech-title {
	color: white;
	font-size: 80px;
	line-height: 2em;
	outline: #ffffff .5px;
}

.secondary-title {
	color: rgba(255, 255, 255, 0.498);
	font-size: 60px;
	line-height: 2em;
	/* -webkit-text-stroke: .4px black; */
}

.row-container {
	flex-wrap: wrap;
	color: white;
	font-size: 80px;
}

#last-tech-container {
	margin-bottom: 100px;
}

/* tech-img parent css */
.image-circle {
	display: flex;
	background-color: rgba(255, 255, 255, 0.716);
	border-radius: 50%;
	justify-content: space-around;
	flex-direction: column;
	margin: 0 10px 35px 0;
}

/* mern stack image links */
.tech-img {
	opacity: .9;
	height: 100px;
	width: 100px;
	justify-content: space-around;
	margin: 50px;
}

/* EMAIL CONTAINER */
.contactContainer {
	margin-bottom: 80px;
	margin-top: 0;
}

.email-header {
	line-height: 2em;
}

.contactContainer input,
textarea {
	text-align: center;
}

/* SECTIONS BETWEEN PARALLAX IMAGES */
.section {
	padding: 60px 0;
}

.section-dark {
	padding: 0;
}

/* FOOTER */
.footer {
	justify-content: center;
	background-color: rgba(32, 32, 32, 0.649);
}

.btn-social-icon {
	color: whitesmoke;
}

.icon-text {
	font-size: 10px;
}

/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width: 767px) {
	.web-dev {
		display: flex;
		font-size: 40px;
		text-transform: uppercase;
	}

	.john-sass {
		font-size: 30px;
		margin-top: 20px;
		text-transform: uppercase;
	}

	.tech-intro {
		color: white;
		margin-top: 15px;
		font-size: 80px;
		line-height: 1em;
		font-size: 40px;
	}

	.projects-header {
		margin-top: 15px;
		font-size: 30px;
	}

	.portfolio-img {
		width: 80vw
	}

	.email-header {
		font-size: 25px;
	}

	#email-container {
		margin-bottom: 80px;
	}

	.text-div {
		margin-bottom: 140px;
		margin: 0 auto;
		width: 100vw;
		background: none;
	}
}

/* screens over 2474px */
@media only screen and (min-width: 2474px) {
	.project-link {
		margin: 0 100px 0 100px;
	}

	.project-link {
		margin: 100px 100px;
	}

	.portfolio-img {
		height: 500px;
		width: 800px;
	}
}