html,
body {
	height: 100%;
	margin: 0 auto;
	font-size: 18px;
	font-family: sans-serif;
	line-height: 1.8em;
	text-align: center;
}

.img1-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 5s;
	color: #ffffff;
	text-shadow: 1.5px 1.5px rgb(83, 83, 83);
}

.web-dev {
	display: flex;
	font-size: 60px;
}

.john-sass {
	display: flex;
	font-size: 48px;
	margin-top: 80px;
}

.img1,
.img2,
.img3 {
	position: relative;
	display: flex;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* parallax images */
#img1 {
	background-image: url(/assets/images/skyline-1402050_1920.jpg);
	background-color: rgba(187, 230, 248, 0.582);
	background-blend-mode: overlay;
	min-height: 100%;
	min-width: 100%;
}
.img2 {
	background-image: url(/assets/images/blue-and-white-planet-display-87009.jpg);
	min-height: 85%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}
.img3 {
	background-image: url(/assets/images/lunar-eclipse-1114900-min.jpg);
	min-height: 70%;
}

/* portfolio images */

.project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.contactContainer {
	margin-bottom: 80px;
}

.projectFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.projectFlex a {
	margin: 35px;
}

.portfolio-img {
	height: 250px;
	width: 250px;
	opacity: 0.75;
	display: flex;
}

/* headshot img */
#head-shot {
	display: block;
	justify-self: center;
	border-radius: 100%;
	height: 350px;
	width: 515px;
	box-shadow: 0.8px 0.8px 0px 0px rgba(195, 195, 195, 0.628);
}

/* FOOTER */
